.td1{color:#565656;font-weight:bold;width:127px;text-align:right;padding:12px;border-bottom:1px solid #cfcfcf;}
.td2{border-bottom:1px solid #cfcfcf;}
.td3{border-bottom:1px solid #cfcfcf;padding-left:12px;}
.td4{width:80px;height:20px;background-color:#fff;border:1px solid #aaadb2;}
.td5{width:100px;height:20px;background-color:#fff;border:1px solid #aaadb2;}
.td6{width:250px;height:20px;background-color:#fff;border:1px solid #aaadb2;}
