.mgtype0 {margin-top:0px !important;}
.mgtype10 {margin-top:10px !important;}
.mgtype20 {margin-top:20px !important;}
.mgtype30 {margin-top:30px !important;}

/* input {height:23px;} */
input.sortby {font-size:0;line-height:0;vertical-align:-2px;border:0 !important;}

/* board-data */
table.board-slist {margin-top:60px;width:95%;margin:10px auto;font-weight:600;}
table.line {border-top:1px solid #e5e5e5;}
table.board-slist th {background:#f3f3f3 none repeat scroll 0 0;border-bottom:1px solid #e0e0e2;color:#000000;font-size: 12px;line-height: 19px;padding: 7px 4px 9px;}
table.board-slist td {font-size:12px;line-height:19px;padding:8px 4px 5px;text-align:center;padding-right:5px;text-align:right;}
table.board-slist td.subject {padding-left:5px;text-align:left;}
table.board-slist td img {vertical-align:-2px;}
table.board-slist td a {text-decoration:underline;color:#4a73b6;}

/*게시판 상단 버튼 위치 설정*/
div.top_bt {margin:20px 0 10px 10px;padding:5px 0 5px 3px;}

/* 신번전 paging */
div.paging {font-size:0;line-height:0;margin:15px 0;text-align:center;vertical-align:top;width:100%;}
div.paging a, div.paging strong {color:#637080;border: 1px solid #e0e0e2;display:inline-block;font-size:13px;height:28px;line-height:24px;margin-left:4px;padding-top:3px;vertical-align:top;width: 29px;}
div.paging a.btnP01 {background:url(/cms/image/sub/paging.gif)no-repeat 1px 2px;font-size:0;line-height:999px;}
div.paging a.btnP02 {background:url(/cms/image/sub/paging.gif)no-repeat -31px 2px;font-size:0;line-height:999px;}
div.paging a.btnN01 {background:url(/cms/image/sub/paging.gif)no-repeat -65px 2px;font-size:0;line-height:999px;}
div.paging a.btnN02 {background:url(/cms/image/sub/paging.gif)no-repeat -97px 2px;font-size:0;line-height:999px;}
div.paging strong, div.paging a:hover {color: #000;font-weight: bold;text-decoration:none;}

/* 구번전
.paging {height: 30px;margin-top: 10px;width: 100%;}
.paging ul {text-align: center;width:auto !important;border:none !important;float:none !important;}
.paging ul li {display: inline;margin-right: 3px;}
*/
