@import url("base.css");

#popup-wrap {width:500px;background:url('/cms/image/popup/bg_popup.gif') repeat-x 0 0;position:relative;}
#popup-wrap h1 {height:30px;padding:15px 0 0 20px;}
div#popup-wrap.type {width:500px;}
div#popup-wrap.type2 {width:725px;}

#container {padding:20px;}
div.step {height:78px;background:url('/cms/image/popup/bg_step.gif') no-repeat 0 0;}
div.step02 {height:78px;background:url('/cms/image/popup/bg_step02.gif') no-repeat 0 0;}
div.step2 {background-position:0 -78px;}
div.step3 {background-position:0 -156px;}
div.step4 {background-position:0 -234px;}
p.text {margin-top:20px;}
ul.text {margin-top:20px;}
ul.text li {font-size:12px;line-height:18px;}

/* title */
h3.view-tit {height:24px;margin-top:10px;padding:9px 0 0 17px;border-top:2px solid #c4c4c4;border-bottom:1px solid #c4c4c4;background:#fafafa;color:#575757;font-size:12px;line-height:18px;}
h4.tit{line-height:28px;font-size:14px;letter-spacing:-1px;padding:10px 0 10px 10px;}/* leekhak */
.mg_t10{margin-top:10px;}

/* main_table1 */
table, th, td {
    border: 0 none;
    border-collapse: collapse;
    margin: 0;
}
div.board {margin-top:7px;}
.main_table1 {
    width:100%;
	border: 1px solid #DDDDDD;
}
.main_table1 td {
    border: 1px solid #DDDDDD;
    color: #666666;
    padding: 5px;
    text-align: center;
}
.main_table1 th {
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    color: #333333;
    padding: 5px;
}
.main_table1 td span {
    display: block;
    margin-top: 10px;
}
.main_table1 td input.img {
    vertical-align: top;
}

/* btn */
div.btn-r {margin-top:10px;text-align:right;}
#popup-wrap a.close {position:absolute;top:17px;right:20px;}

/* 신규 */
fieldset.search2 {display:block;height:33px;margin-top:30px;padding-top:10px;border:1px solid #eaeaea;text-align:center;}
fieldset.search2 select {font-size:12px;line-height:18px;vertical-align:middle;}
fieldset.search2 input.text {font-size:12px;line-height:18px;vertical-align:middle;}
fieldset.search2 input.btn {vertical-align:middle;}
div.btn-c {margin-top:10px;text-align:center;}

/* 2013-12-04 */
p.text2 {margin-top:-18px;text-align:right;}
p.text3 {margin-top:15px;padding:5px 0;background:#a4a4a4;text-align:center;color:#ffffff;font-weight:bold;}
h2.mgttp {margin-top:20px;}
textarea.textarea {display:block;width:99%;height:80px;margin-top:7px;}
div.btn-r2 {margin-top:-18px;text-align:right;}

/* 2013-12-13 */
table.baord-view {width:100%;font-size:12px;line-height:18px;}
table.baord-view th {padding:5px 0;color:#000000;border-bottom:1px solid #eaeaea;}
table.baord-view td {border-bottom:1px solid #eaeaea;}
div.b-contents {padding:5px;border-bottom:1px solid #eaeaea;}
div.b-contents textarea {width:658px;height:100px;border:none;}
table.board-write {width:100%;margin-top:5px;font-size:12px;line-height:18px;}
table.board-write th {padding:5px;text-align:left;}
table.board-write td textarea {width:622px;height:100px;}


/* 2015-02-06 leekhak */
.search{padding-top:35px;height:40px;}
.search .srch_right{float:right;display:inline-block;}
.search .srch_right ul li{float:left;margin-left:5px;font-size:12px;font-family:NANUM;}
.search .srch_right select{height:25px;}
.search .srch_right input.text{height:19px;}
a.btn-close{position:absolute;top:5px;right:5px;}

.paging{margin-top:10px;height:30px;width:100%;}
.paging ul{text-align:center}
.paging ul li{display:inline; margin-right:3px;}
.paging ul li img{vertical-align:top;}
span.paging_selected{color:#FB8035}


